.button-container {
  display: inline-block;
  margin: 2px;
}

.button-body {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  color: white;
}

.button-number {
  background-color: #323232;
}

.button-operator {
  background-color: #f8920a;
}

.button-action {
  background-color: #a5a5a5;
}

.button-scientific {
  background-color: #212121;
}

.button-small {
  width: 32px;
  height: 32px;
}

.button-large {
  width: 68px;
  height: 32px;
}
